<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PixelMill.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D84825CF1E0125C9007FD9D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D84825E81E0125C9007FD9D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D84825F31E0125C9007FD9D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
